**Heart Disease Prediction using DNN**
Inputs (age, sex, cp, chol) are fed into a Dense Neural Network for training. The model learns patterns and predicts the likelihood of heart disease, aiding early detection and improving patient care.

In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [2]:
# Importing Training set
path = 'heart.csv'
df = pd.read_csv(path)

In [3]:
# Print first 5 rows of the dataset
df.head(5)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [4]:
# Converting Data Set into NumPy Array
df_features = df.copy()
df_labels = df_features.pop('target')
X = np.array(df_features)
Y = np.array(df_labels)

In [5]:
# Normalization
normalize = tf.keras.layers.Normalization(axis=-1)
normalize.adapt(X)
Xn = normalize(X)

In [6]:
# Sizing the Training Set
Xt = np.repeat(Xn, 1000, axis=0)
Yt = np.repeat(Y, 1000)

In [7]:
# Model Initiation
np.random.seed(42)
tf.random.set_seed(42)
model = Sequential(
    [
        Dense(3,activation ='sigmoid'),
        Dense(1,activation ='sigmoid')
    ]
)

In [8]:
# Model Compilation
model.compile(
    loss = tf.keras.losses.BinaryCrossentropy(),
    optimizer = tf.keras.optimizers.Adam(learning_rate=0.01),
)

In [9]:
# Model Training
model.fit(
    Xt, Yt,
    epochs=10,

)

Epoch 1/10
9469/9469 [==============================] - 6s 589us/step - loss: 0.2213
Epoch 2/10
9469/9469 [==============================] - 5s 566us/step - loss: 0.1730
Epoch 3/10
9469/9469 [==============================] - 5s 577us/step - loss: 0.1651
Epoch 4/10
9469/9469 [==============================] - 5s 578us/step - loss: 0.1609
Epoch 5/10
9469/9469 [==============================] - 5s 557us/step - loss: 0.1579
Epoch 6/10
9469/9469 [==============================] - 5s 563us/step - loss: 0.1555
Epoch 7/10
9469/9469 [==============================] - 5s 570us/step - loss: 0.1538
Epoch 8/10
9469/9469 [==============================] - 6s 616us/step - loss: 0.1525
Epoch 9/10
9469/9469 [==============================] - 6s 632us/step - loss: 0.1514
Epoch 10/10
9469/9469 [==============================] - 6s 606us/step - loss: 0.1503

In [10]:
# Model Summary
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 3)                 42

 dense_1 (Dense)             (None, 1)                 4

=================================================================
Total params: 46
Trainable params: 46
Non-trainable params: 0
_________________________________________________________________

In [11]:
# Prediction (Validation)
X_Val = np.array([[63.0,1.0,3.0,145.0,200.0,1.0,0.,150.0,0.,2.3,0.,0.,1.0]])
X_test = normalize(X_Val)
predictions = model.predict(X_test)
print(predictions)

1/1 [==============================] - 0s 48ms/step
[[0.9145017]]

This gives us the **prediction** of the person to be a heart pateint.